.body{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: black;
    color: white;
}

@media screen and (max-width: 768px) {
    .display {
      display: none;
    }

   

.wrap-icon{
    height: 50px;
    display: flex;
    align-items: center;
}

